<p>
Cześć {{ reciepient.getName() }},
<br><br>
Została zgłoszona nowa usterka z kategorii {{ report.getCategory().getName() }}. Poniżej znajdują się wszystkie informaje podane przez osobę zgłaszającą. W załączniku znajdują się zdjęcia usterki.
<br><br>

{% if report.getDescription() != null %}
<b>Opis:</b> {{ report.getDescription() }}
<br>
{% endif %}
<b>Czas:</b> {{ report.getCreateDate()|date("Y/m/d H:i:s") }}
<br>
<b>Miejsce:</b>
{% if report.getLocation().getDescription() != null %}
{{ report.getLocation().getDescription() }}<br>
{% endif %}
{% if mapLink != null %}
Kliknij <a href={{ mapLink }}>w ten link</a> aby zobaczyć lokalizację w Google Maps.<br>
{% endif %}
<br>
<p style="color:gray">
Otrzymujesz tę wiadomość e-mail, ponieważ Twój adres e-mail został podany jako kontaktowy w przypadku usterek 
związanych z kategorią {{ report.getCategory().getName() }} w aplikacji "Usterka SGGW". <br>
Jeśli uważasz, że nie powinieneś otrzymywać takich wiadomości, napisz e-mail na adres alicja.zabylska@gmail.com.
<br> <br>
<b>Ta wiadomość e-mail została wygenerowana automatycznie, prosimy na nią nie odpowiadać.</b>
</p>
</p>
<hr>

<!-- English version-->
<br>
<p>
Hello {{ reciepient.getName() }},
<br> <br>
There was a new issue reported for category {{ report.getCategory().getName() }}. Please find below all the information provided by reporter. In the attachemnt there are photos for reported issue.
<br><br>

{% if report.getDescription() != null %}
<b>Description:</b> {{ report.getDescription() }}
<br>
{% endif %}
<b>Time:</b> {{ report.getCreateDate()|date("Y/m/d H:i:s") }}
<br>
<b>Location:</b>
{% if report.getLocation().getDescription() != null %}
 {{ report.getLocation().getDescription() }}<br>
{% endif %}
{% if mapLink != null %}
Click <a href={{ mapLink }}>this link</a> to check location on google maps.<br>
{% endif %}
<br>
<p style="color:gray">
You are receiving this email because your email address was specified as a contact email in case of issues 
connected to category {{ report.getCategory().getName() }} in application 'Usterka SGGW'. <br>
If you think you should not receive this email, please write an email to alicja.zabylska@gmail.com.
<br> <br>
<b>This email has been generated automatically, please do not reply to it.</b>
</p>
</p>